/* CSS-переменные */
:root {
  --main-text-color: #212121;
  --second-text-color: #757575;
  --accent-color: #2196f3;
  --main-bg-color: #ffffff;
  --secohd-bg-color: #f5f4fa;
  --third-bg-color: #2f303a;
}
/* Базовые настройки CSS */
body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* базовые настройки картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* Уберу подчеркивание у всех ссылок */
.link {
  text-decoration: none;
}
/* Убрал флажки и отступы у элементов списков */
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* cпрячем скрытые заголовки */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* страница Студия */
/* задам общие настройки шрифта хэдера */
.header {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
/* Геометрия контейнера */
.container {
  width: 1200px;
  margin: 0px auto;
  padding: 0px 15px;
  /* outline: 2px solid orange; */
}
/* флексбокс хэдера */
.header-flex,
.nav-main {
  display: flex;
  align-items: center;
}
/* логотип хэдера */
.header-logo {
  margin-right: 93px;
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
/* отступ всем кроме последнего элепента хэдера */
.nav-main > .item:not(:last-child) {
  margin-right: 50px;
}
/* основная навигация хэдера */
.nav-main .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: inherit;
}
/* Цветовой акцент элементов */
.nav-main .link.current,
.header-logo .current,
.footer-logo .current,
.nav-main .link:hover,
.nav-main .link:focus,
.header-contacts .link:hover,
.header-contacts .link:focus,
.footer-contacts .link:hover,
.footer-contacts .link:focus {
  color: var(--accent-color);
}
/* контакты хэдера в строку */
.header-contacts {
  display: flex;
  margin-left: auto;
}
.header-contacts .item:not(:last-child) {
  margin-right: 30px;
}
/* контакты хэдера */
.header-contacts .link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--second-text-color);
}

.header-contacts .mail::before {
  content: "";
  margin-right: 10px;
  width: 16px;
  height: 12px;
  background-image: url("../images/envelope.svg");
  background-size: contain;
}
.header-contacts .tel::before {
  content: "";
  margin-right: 10px;
  width: 10px;
  height: 16px;
  background-image: url("../images/smartphone.svg");
  background-size: contain;
}

/* герой */
.hero {
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: #c4c4c4;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/bg-hero.jpg");
}
.hero-container {
  max-width: 770px;
  margin: 0 auto;
  text-align: center;
}
/* Заголовок героя */
.hero-title {
  margin-top: 0;
  margin-bottom: 30px;

  color: var(--main-bg-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
/* кнопка героя */
.button.primary {
  display: inline-block;
  min-width: 200px;
  padding: 10px 32px;
  border-radius: 4px;

  color: var(--main-bg-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
}
/* отступы секции преимуществ */
.section.feature {
  padding-top: 94px;
  padding-bottom: 0;
}
/* флексбокс */
.feature-list,
.examples-list,
.team-list {
  display: flex;
}
/* ширина элементов секции Преимущества */
.feature-list .item {
  flex-basis: calc((100% - 3 * 30px) / 4);
}
/* отступы всем кроме последнего элемента списков */
.feature-list .item:not(:last-child),
.examples-list .item:not(:last-child),
.team-list .item:not(:last-child) {
  margin-right: 30px;
}
/* Заголовки h3 секции преимущества */
.feature-list .title {
  margin-top: 0;
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
/* Текст секции преимущества */
.feature-list .text {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--second-text-color);
}
/* паддинг всем секциям */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* Заголовки секций */
.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
/* ширина контента секкции */
.examples-list .item {
  flex-basis: calc((100% - 2 * 30px) / 3);
}
/* оформление секции команда  */
.section.team {
  background-color: var(--secohd-bg-color);
  text-align: center;
}
/* элементы списка наша команда */
.team-list .item {
  flex-basis: calc((100% - 3 * 30px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  background-color: var(--main-bg-color);
}
/* Заголовки h3 Наша команда */
.team-list .title {
  margin-top: 30px;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
/* Текст секции Наша команда */
.team-list .text {
  margin-top: 0;
  margin-bottom: 30px;

  color: var(--second-text-color);
  font-size: 16px;
  line-height: 1.19;
}
/* футер */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--third-bg-color);
}
.footer-address {
  width: 270px;
}
/* лого футера */
.footer-logo {
  color: var(--main-bg-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
/* адрес футера */
.footer-contacts {
  margin-top: 20px;

  font-style: normal;
}
/* Физический адрес в футере */
.footer-contacts .text {
  margin: 0;

  color: var(--main-bg-color);
}
/* почта и телефон футера */
.footer-contacts .link {
  display: inline-block;
  margin-top: 9px;

  color: rgba(255, 255, 255, 0.6);
}

/* Страница Портфолио */

/* список кнопок навигации портфолио */
.portfolio-nav {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
/* отступ у всех кнпопок кроме последней */
.portfolio-nav .item:not(:last-child) {
  margin-right: 8px;
}
/* Кнопки*/
.button.secondary {
  display: inline-block;
  min-width: 73px;
  padding: 6px 22px;
  border: 1px solid transparent;
  border-radius: 4px;

  color: var(--main-text-color);
  background-color: var(--secohd-bg-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
}
/* Акцент кнопок */
.button.secondary:hover,
.button.secondary:focus {
  color: var(--main-bg-color);
  background-color: var(--accent-color);
}
/* список основных элементов страницы */
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}
/* основные элементы страницы портфолио */
.portfolio-list .item {
  flex-basis: calc((100% - 2 * 30px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}
/* каждому третьему убираем правый марджин */
.portfolio-list .item:nth-child(3n) {
  margin-right: 0;
}
/* последним трем убираем нижний марджин */
.portfolio-list .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.portfolio-list .item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
/* текстовая часть карточки */
.card-content {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
/* заголовки элементов портфолио */
.portfolio-list .title {
  margin-top: 0;
  margin-bottom: 4px;

  color: var(--main-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
/* текст элементов портфолио */
.portfolio-list .text {
  margin: 0;

  color: var(--second-text-color);
  font-size: 16px;
  line-height: 1.87;
}
